{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 pt-5">
    <h1 class="text-center">About Our Candle Tracking App</h1>
    <p>
        Hey there, welcome to our app! We're here to make sure you never forget about your candles again. 
        <br>
        Our app allows you to give your candles cute names and track how long they are lit for. 
        <br>
        It's like a virtual candle nanny, so you don't have to worry about burning through your candles too fast or not getting the most out of them.
        <br>
        <br>
        So, light up a candle, sit back and relax, and let us take care of the rest.
    </p>
    <p>Thank you for using our app!</p>
</div>
{% endblock %}