{% extends "base.html" %}
{% load candle_extras %}
{% block content %}

<div class="container mt-5 pt-5">
    <h1 class="text-center mb-3">{{ candle.candle_name }}</h1>
    
    <form method="post" action="{% url 'candletime:candle' pk %}">
        {% csrf_token %}
        {% if candle.status %}
            <h2>{{ candle.candle_name }} is currently <strong>LIT</strong>!</h2>
            <input type="submit" class="btn btn-primary" value="Extinguish {{ candle.candle_name }}">
        {% else %}
            <h2>{{ candle.candle_name }} is currently not lit.</h2>
            <input type="submit" class="btn btn-primary" value="Light {{ candle.candle_name }}">
        {% endif %}
    </form>
</div>
<div class="container mt-3">
    {% if burn_time %}
    <p class="lead"> {{ candle.candle_name }} has lit up your life for a total of {{ burn_time | duration:'phrase'}}.</p>
    {% endif %}
</div>
<div class="container mt-5">
    <div class="mb-3">
        <h2>{{ candle.candle_name }}'s prior work:</h2>
    </div>
    {% for item in candle_detail %}
    <p class="lead">{{ item.light_time|date:'m/d/y h:i' }} - {{ item.extinguish_time|date:'m/d/y h:i' }}</p>
    <div class="container ml-5">
        {% if item.extinguish_time %}
        <p class="lead">Burn Time: {{ item.time_lit | duration:'phrase' }}</p>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}
